@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Rajdhani:wght@300;400;500;700&display=swap');


html {
  font-size: 62.5%;
}

body {
  font-family: 'Rajdhani', 'Noto Sans KR', sans-serif;
  line-height: 1.25;
  font-size: 1.6rem;
}